<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpPlatformHandler" />
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform 
            stdoutLogEnabled="true" 
            stdoutLogFile=".\logs\node.log" 
            startupTimeLimit="20" 
            processPath="C:\Program Files\nodejs\node.exe" 
            arguments=".\node_modules\next\dist\bin\next start"
            requestTimeout="00:04:00"
            startupRetryCount="10">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="NODE_ENV" value="production" />
                <environmentVariable name="HOSTNAME" value="localhost" />
            </environmentVariables>
        </httpPlatform>
        
        <!-- Enable compression -->
        <urlCompression doDynamicCompression="true" doStaticCompression="true" />
        
        <!-- Security headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Security configuration -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin" />
                    <add segment="node_modules" />
                    <add segment=".next" />
                    <add segment="logs" />
                </hiddenSegments>
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
        
        <!-- Error handling -->
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
</configuration>
